/* CUSTOM-PROPS */
:root {
  --gray: #686868;
  --blue: #0000ff;
  --white: #fff;
}

/* LOADER  */
.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  transition: opacity 0.5s ease;
}
.loader-wrapper--none {
  opacity: 0;
  pointer-events: none;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid var(--blue);
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid var(--gray);
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* GLOBAL-STYLES  */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--white);
  color: var(--gray);
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 160%;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}


/* FOCUS-STYLES  */
*:focus {
  outline: 3px dashed var(--blue);
  outline-offset: 3px;
}

/* CONTAINER  */
.container {
  max-width: 1600px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* VISUALLY-HIDDEN  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* MAIN-CONTENT  */
.main-content {
  flex-grow: 1;
}

/* SITENAV  */
.sitenav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 116px;
}

.sitenav__link {
  display: block;
  color: #6d6d6d;
  text-decoration: none;
  font-size: 16px;
  line-height: 160%;
  font-weight: 600;
  letter-spacing: 2px;
}

.sitenav__link--active {
  color: var(--blue);
}

/* LOGO  */
.logo {
  display: flex;
  flex-shrink: 0;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.site-header__logo {
  margin-right: 30px;
}

.logo__img {
  display: block;
  width: 297px;
  height: 46px;
  object-fit: contain;
}


/* SITE-HEADER */
.site-header {
  padding: 68px 0;
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* MAIN-CONTENT  */
.gallery {
  padding-top: 44px;
  padding-bottom: 56px;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 -50px -20px;
  padding: 0;
  list-style: none;
}

.gallery__item {
  margin-left: 20px;
  margin-bottom: 50px;
}

.gallery__img {
  display: block;
  width: 372px;
  height: 667px;
  object-fit: cover;
}


/* SITE-FOOTER */
.site-footer {
  padding-bottom: 52px;
  padding-top: 56px;
}

.site-footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-footer__left {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.left__text {
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
  color: #cecece;
  margin-bottom: 9px;
}

.left__img {
  display: block;
  width: 113px;
  height: 21px;
  object-fit: cover;
}

/* SOCIAL */
.social {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item:not(:last-child) {
  margin-right: 105px;
}

.social__link {
  text-decoration: none;
  color: var(--gray);
  letter-spacing: 0.1em;
}

.site-footer__number {
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
  color: #333333;
}